body{
    background-color: rgb(196, 196, 196);
}

nav{
    text-align: center;
    background-color: rgb(107, 107, 107);
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 5vw;
}

nav ul li a:link, nav ul li a:visited{
    text-decoration: none;
    color: rgb(255, 255, 0);
}

nav ul li a:hover, nav ul li a:active{
    text-decoration: none;
    color: rgb(131, 131, 8);
}

div {
    color: black;
}

#conhecimento table{
    border: 5px solid;
}

#conhecimento table tr, #conhecimento table tr th, #conhecimento table tr td{
    /*border: 5px solid;*/
    background-color: rgb(255, 255, 125);
    text-align: center;
}

#conhecimento table a:link, #conhecimento table a:visited{
    /*text-decoration: none;*/
    color: rgb(0, 0, 255);
}

#conhecimento table a:hover, #conhecimento table a:active{
    color: rgb(11, 11, 110);
}

#tentativasLabel{
    color: red;
}

#azul{
    color: blue;
}

#orange{
    color: rgb(255, 100, 0);
}